@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F4F5;
}

p{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}

